<form method="GET" action="http://localhost:3000/search">
    <br>Search gif: <input type="text" name="search">
</form>
<hr>

<% 
if(gifs.length !==0) { 
    gifs.forEach(gif=> { 
    %> <object data="<%= gif %>"></object> <%
    }); 
} else { 
%> <p>Sorry, any gifs for this word... try another</p> <% 
} 
%>
