<form method="GET" action="http://localhost:3000/search">
    <br>Search gif: <input type="text" name="search">
</form>
<hr>
<div>
    <object type="text/html" data="https://giphy.com/embed/QrDHLs1py45IA" style="overflow:auto;border:5px ridge blue">
    </object>
</div>